<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card bg-light mb-3 text-center">
    <div class="card-header"><h2>Registrieren</h2></div>
    <div class="card-body">

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
  </div>
<br>
    </div>
    <div class="card-footer bg-transparent">

  <div class="actions">
    <%= f.submit "Registrieren", class: 'btn btn-primary' %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
  </div>
