

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="card bg-light mb-3 text-center">
    <div class="card-header"><h2>Passwort vergessen?</h2></div>
    <div class="card-body">

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>


<div class="card-footer bg-transparent">
<%= render "devise/shared/links" %>
</div>
</div>
